html,body{
	background-color:black;
	font-family: 'Dosis', sans-serif;
}
h1,h2{
	text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}
#middle{
	width: 280px;
	height: 280px;
	margin:auto;
	padding-top:15% ;
}
#enter{
	width:185px;
	height:50px;
	margin:auto;
	padding-top:5%;
}

#title{
	text-align:center;
	color:rgb(255,255,255) ;
	padding-top:17%;
	text-shadow: 0px 0px 6px rgba(255,255,255,0.7);

}
#mainimg{
	width:280px;
	height:280px;
}
.btn-lg, .btn-group-lg > .btn {
	padding: 12px 70px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px 6px 6px 6px;
}
.btn:hover,.btn:focus{
	color: rgb(0,0,0) ;
	text-shadow: 0px 0px 6px rgba(0,0,0,0.7);
	background-color:rgb(255,255,255);
	box-shadow:0px 0px 10px 3px rgba(222,222,222,0.4);
	transition:background-color .25s linear,box-shadow .25s linear,text-shadow .25s linear;
}
.btn{
	color: rgb(255,255,255);
	background-color:rgb(0,0,0);
	border-color:rgb(255,255,255);
}
#menu > li > a {
	color: #5599FF;
}
#name{
	color: rgb(255,255,255);
	text-shadow: 0px 0px 6px rgba(255,255,255,0.7);

}
#menu > li > a:hover {
	text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
	color: 	#99BBFF;
	-webkit-transition:text-shadow .3s linear,color .3s linear;
	transition:text-shadow .3s linear,color .3s linear;
}
.page{
	color:rgb(255,255,255);
}
#Alumni h3{
	text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}
#Students img,#TeacherPic{
	border-radius: 50% ;
	border:5px solid #fff;
	height:180px;
	width:180px;
}
.StuPic div{
	height:220px;
}
.NameofStu{
	font-size:16px;
}
#PicofNavbar{
	height:50px;
	width:50px;
	padding:10px;
}
.navbar-nav > li > a{
	font-size:16px;
}
